<!-- Breadcomb area Start-->
<div class="breadcomb-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="breadcomb-list">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="breadcomb-wp">
								<div class="breadcomb-icon">
									<i class="hover-ic notika-icon notika-form animated infinite flip"></i>
								</div>
								<div class="breadcomb-ctn">
									<h2>Laporan</h2>
									<p>Add / Edit / Delete</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
							<div class="breadcomb-report">
								<button id="tikClock" data-toggle="tooltip" data-placement="left" title="" class="btn">
									<i class="fa fa-clock-o"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcomb area End-->
<!-- Main area Start-->
<div class="colr-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="color-wrap">
					<div class="color-hd">
						<div class="x_content">
							<div class="cssload-loader">Please Wait</div>
							<div id="dtableDiv" style="display:none;">
                                <div class="row margin-bt-20">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="nk-int-mk sl-dp-mn">
                                            <h2>Filter Perusahaan</h2>
                                        </div>
                                        <span style="margin-left: 10px;">
                                            <i class="fa fa-spinner fa-spin"></i> Please wait...
                                        </span>
                                        <div class="chosen-select-act fm-cmp-mg" style="display:none;">
                                            <select id="fm_perusahaan" name="fm_perusahaan" class="chosen master__perusahaan">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="nk-int-mk sl-dp-mn">
                                            <h2>Filter Bidang</h2>
                                        </div>
                                        <span style="margin-left: 10px;">
                                            <i class="fa fa-spinner fa-spin"></i> Please wait...
                                        </span>
                                        <div class="chosen-select-act fm-cmp-mg" style="display:none;">
                                            <select id="fm_bidang" name="fm_bidang" class="chosen master__bidang">
                                            </select>
                                        </div>
                                    </div>
                                </div>
								<table id="datatable-responsive"
									class="table table-striped table-bordered table-hover dt-responsive wrap"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th width="1%"></th>
											<th width="2%" class="text-center">NO</th>
											<!-- <th width="10%">TANGGAL</th> -->
											<th width="10%">MASUK</th>
											<!-- <th width="10%">FOTOMASUK</th> -->
											<!-- <th width="10%">LATMASUK</th> -->
											<!-- <th width="10%">LONMASUK</th> -->
											<th width="10%">KELUAR</th>
											<!-- <th width="10%">FOTOKELUAR</th> -->
											<!-- <th width="10%">LATKELUAR</th> -->
											<!-- <th width="10%">LONKELUAR</th> -->
											<th width="10%">NAMA</th>
											<!-- <th width="10%">IDPERUSAHAAN</th> -->
											<!-- <th width="10%">IDBIDANG</th> -->
											<th width="10%">PERUSAHAAN</th>
											<th width="10%">BIDANG</th>
											<!-- <th width="12%" class="all">ACTION</th> -->
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Main area End-->
<!-- #region modal -->
<div class="modal fade formEditorModal" data-backdrop="static" role="dialog" aria-hidden="true">
	<div class="modal-dialog modals-default">
		<div class="modal-content">
			<div class="modal-header form-group-15">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">New Laporan</h4>
			</div>
			<div class="modal-body">
				<form id="formEditor" data-parsley-validate class="form-horizontal form-label-left">
					<div class="form-group-15">
						<label>Iduser<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="number" class="form-control input-sm" name="iduser" placeholder="Iduser" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Tanggal</label>
						<div class="nk-int-st">
							<input type="date" class="form-control input-sm" name="tanggal" placeholder="mm/dd/yyyy" data-parsley-group="role" >
						</div>
					</div>
					<div class="form-group-15">
						<label>Masuk<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="datetime-local" class="form-control input-sm" name="masuk" placeholder="mm/dd/yyyy 12:59 AM" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Fotomasuk<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotomasuk" placeholder="Fotomasuk" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Latmasuk<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotomasuk" placeholder="Fotomasuk" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Lonmasuk<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotomasuk" placeholder="Fotomasuk" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Keluar<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="datetime-local" class="form-control input-sm" name="keluar" placeholder="mm/dd/yyyy 12:59 AM" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Fotokeluar<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotokeluar" placeholder="Fotokeluar" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Latkeluar<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotokeluar" placeholder="Fotokeluar" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Lonkeluar<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="fotokeluar" placeholder="Fotokeluar" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Nama<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="nama" placeholder="Nama" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Idperusahaan<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="number" class="form-control input-sm" name="idperusahaan" placeholder="Idperusahaan" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Idbidang<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="number" class="form-control input-sm" name="idbidang" placeholder="Idbidang" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Perusahaan<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="perusahaan" placeholder="Perusahaan" data-parsley-group="role" required="required">
						</div>
					</div>
					<div class="form-group-15">
						<label>Bidang<span class="required">*</span></label>
						<div class="nk-int-st">
							<input type="text" class="form-control input-sm" name="bidang" placeholder="Bidang" data-parsley-group="role" required="required">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn_save btn btn-default notika-btn-default waves-effect" data-loading-text="Loading...">
					<i class="fa fa-save"></i> Save
				</button>
				<button type="button" class="btn_cancel btn btn-danger notika-btn-danger waves-effect" data-dismiss="modal">
					<i class="fa fa-times"></i> Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- #endregion modal -->